<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="build-outline"></ion-icon>
      <ion-label>Configuración</ion-label>
    </ion-tab-button> 

  <ion-tab-button tab="about">
    <ion-icon name="information-circle"></ion-icon>
    <ion-label>Hola</ion-label>
  </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>